Repository benjaminrae/sequential-wares: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm format:check, pnpm lint:check

feat(core): create Identifier and UniqueIdentifier
  libs/core/src/index.ts
  libs/core/src/shared/identifier.spec.ts
  libs/core/src/shared/identifier.ts
  libs/core/src/shared/index.ts
  libs/core/src/shared/unique-identifier.spec.ts
  libs/core/src/shared/unique-identifier.ts
  libs/core/tsconfig.lib.json
  nest-cli.json
  package.json
  pnpm-lock.yaml
  test/jest-e2e.json
  tsconfig.json
Due: pnpm format:check, pnpm lint:check

ci: set up build, lint and test workflows
  .editorconfig
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .gitignore
Due: none

ci: set up sonar
  .github/workflows/sonar.yml
  package.json
  sonar-project.properties
Due: pnpm format:check

feat(core): create base Entity
  libs/core/src/shared/entity.spec.ts
  libs/core/src/shared/entity.ts
Due: pnpm format:check, pnpm lint:check

feat(core): create DomainError
  libs/core/src/shared/domain-error.spec.ts
  libs/core/src/shared/domain-error.ts
  libs/core/src/shared/index.ts
Due: pnpm format:check, pnpm lint:check

feat(core): create Product entity and InvalidProduct error
  libs/core/src/index.ts
  libs/core/src/product/errors/index.ts
  libs/core/src/product/errors/invalid-product.error.ts
  libs/core/src/product/index.ts
  libs/core/src/product/product.entity.spec.ts
  libs/core/src/product/product.entity.ts
  libs/core/src/product/types.ts
Due: pnpm format:check, pnpm lint:check

ci: change sonar workflow branch from master to main
  .github/workflows/sonar.yml
Due: none

feat(core): create Result
  libs/core/src/index.ts
  libs/core/src/products/errors/index.ts
  libs/core/src/products/errors/invalid-product.error.ts
  libs/core/src/products/index.ts
  libs/core/src/products/product.entity.spec.ts
  libs/core/src/products/product.entity.ts
  libs/core/src/products/types.ts
  libs/core/src/shared/result.spec.ts
  libs/core/src/shared/result.ts
  libs/core/src/shared/unique-identifier.ts
Due: pnpm format:check, pnpm lint:check

test: test Result.value with failure Result
  libs/core/src/shared/result.spec.ts
Due: pnpm format:check, pnpm lint:check

feat(core): create Command, CommandHandler, Query, QueryHandler
  libs/core/src/shared/command.ts
  libs/core/src/shared/index.ts
  libs/core/src/shared/query.ts
Due: pnpm format:check, pnpm lint:check

feat(core): create Repository and ReadRepository
  libs/core/src/shared/index.ts
  libs/core/src/shared/repository.ts
Due: pnpm format:check, pnpm lint:check

feat(application): create CreateProductCommand and handler
  .eslintignore
  libs/application/src/index.ts
  libs/application/src/products/commands/create-product.command.ts
  libs/application/src/products/commands/create-product.handler.ts
  libs/application/tsconfig.lib.json
  libs/core/src/shared/result.spec.ts
  libs/core/src/shared/result.ts
  nest-cli.json
  package.json
  pnpm-lock.yaml
  test/jest-e2e.json
  tsconfig.json
Due: pnpm format:check, pnpm lint:check

test(application): test CreateProductHandler
  libs/application/src/index.ts
  libs/application/src/products/commands/create-product.handler.spec.ts
  libs/application/src/products/commands/index.ts
  libs/application/src/products/index.ts
  libs/core/src/shared/fake-repository.ts
  libs/core/src/shared/index.ts
  libs/core/src/shared/result.spec.ts
Due: pnpm format:check, pnpm lint:check

chore: remove barrel files from coverage collection
  package.json
  sonar-project.properties
Due: pnpm format:check

feat(application): create GetProductsQuery and GetProductsHandler
  libs/application/src/products/index.ts
  libs/application/src/products/queries/get-products.handler.spec.ts
  libs/application/src/products/queries/get-products.handler.ts
  libs/application/src/products/queries/get-products.query.ts
  libs/application/src/products/queries/index.ts
  libs/core/src/shared/result.ts
Due: pnpm format:check, pnpm lint:check

feat(infrastructure): create HealthModule and GET /health
  libs/infrastructure/src/api/http/health/health.controller.spec.ts
  libs/infrastructure/src/api/http/health/health.controller.ts
  libs/infrastructure/src/api/http/health/health.module.ts
  libs/infrastructure/src/api/http/http.module.ts
  libs/infrastructure/src/config/config.module.ts
  libs/infrastructure/src/index.ts
  libs/infrastructure/src/infrastructure.module.ts
  libs/infrastructure/tsconfig.lib.json
  nest-cli.json
  package.json
  pnpm-lock.yaml
  src/app.module.ts
  src/main.ts
  test/jest-e2e.json
  tsconfig.json
Due: pnpm format:check, pnpm lint:check

feat(infrastructure): set up ConfigModule
  .env.example
  .gitignore
  libs/infrastructure/src/config/config.module.ts
  libs/infrastructure/src/config/configuration.ts
  libs/infrastructure/src/config/types.ts
  package.json
  pnpm-lock.yaml
  src/main.ts
Due: pnpm format:check, pnpm lint:check

feat(infrastructure): configure Open Api docs
  libs/infrastructure/src/api/http/health/health.controller.spec.ts
  libs/infrastructure/src/api/http/health/health.controller.ts
  package.json
  pnpm-lock.yaml
  src/main.ts
Due: pnpm format:check, pnpm lint:check

feat(infrastructure): create PersistenceModule with Mongoose
  .env.example
  libs/infrastructure/src/api/http/health/health.controller.ts
  libs/infrastructure/src/config/configuration.ts
  libs/infrastructure/src/config/types.ts
  libs/infrastructure/src/infrastructure.module.ts
  libs/infrastructure/src/persistence/persistence.module.ts
  package.json
  pnpm-lock.yaml
Due: pnpm format:check, pnpm lint:check

ci: set up Dockerfile and compose.yml
  .dockerignore
  Dockerfile
  compose.yaml
Due: none

ci: railway deploy configuration
  deploy/railway.toml
Due: none

ci: add cache ids in Dockerfile
  Dockerfile
Due: none

ci: set service order in Docker compose
  Dockerfile
  compose.yaml
Due: none

ci: change deploy to nixpacks
  deploy/railway.toml
Due: none

feat(application): create JwtTokenService
  libs/application/src/auth/index.ts
  libs/application/src/auth/jwt-token.service.ts
  libs/application/src/index.ts
Due: pnpm format:check, pnpm lint:check

feat(infrastructure): create GET /auth/token endpoint
  libs/infrastructure/src/api/http/auth/auth.controller.spec.ts
  libs/infrastructure/src/api/http/auth/auth.controller.ts
  libs/infrastructure/src/api/http/auth/auth.module.ts
  libs/infrastructure/src/api/http/http.module.ts
  libs/infrastructure/src/config/configuration.ts
  libs/infrastructure/src/config/types.ts
  libs/infrastructure/src/di/auth.keys.ts
  libs/infrastructure/src/persistence/persistence.module.ts
  package.json
  pnpm-lock.yaml
  test/auth.e2e-spec.ts
Due: pnpm format:check, pnpm lint:check

ci: merge unit and e2e coverage in Sonar
  .github/workflows/sonar.yml
  package.json
  pnpm-lock.yaml
  sonar-project.properties
  test/jest-e2e.json
Due: pnpm format:check

fix: use nullish coalescing in configuration
  libs/infrastructure/src/config/configuration.ts
Due: pnpm format:check, pnpm lint:check

ci: fix sonar unit coverage path
  sonar-project.properties
Due: none

ci: remove cache mounts from Dockerfile for railway deploy
  Dockerfile
Due: none

feat(infrastructure): create mongoose repository adapters and BaseSchema
  libs/infrastructure/src/persistence/shared/base.schema.ts
  libs/infrastructure/src/persistence/shared/mongoose-read-repository.adapter.ts
  libs/infrastructure/src/persistence/shared/mongoose-repository.adapter.ts
Due: pnpm format:check, pnpm lint:check

feat(infrastructure): create ProductSchema, and product repositories
  libs/infrastructure/src/persistence/products/product-read.repository.ts
  libs/infrastructure/src/persistence/products/product.repository.ts
  libs/infrastructure/src/persistence/products/product.schema.ts
Due: pnpm format:check, pnpm lint:check

feat(core): create Mapper interface
  libs/core/src/products/types.ts
  libs/core/src/shared/index.ts
  libs/core/src/shared/mapper.ts
  libs/core/src/shared/repository.ts
Due: pnpm format:check, pnpm lint:check

feat(infrastructure): create GET /products and POST products
  libs/infrastructure/src/api/http/auth/auth.controller.spec.ts
  libs/infrastructure/src/api/http/auth/auth.controller.ts
  libs/infrastructure/src/api/http/auth/auth.module.ts
  libs/infrastructure/src/api/http/http.module.ts
  libs/infrastructure/src/api/http/products/commands/create-product.controller.ts
  libs/infrastructure/src/api/http/products/commands/create-product.handler.ts
  libs/infrastructure/src/api/http/products/product.response.ts
  libs/infrastructure/src/api/http/products/queries/get-products.controller.ts
Due: pnpm format:check, pnpm lint:check

feat(infrastructure): create ProductsModule
  libs/infrastructure/src/di/auth/auth.keys.ts
  libs/infrastructure/src/di/auth/auth.module.ts
  libs/infrastructure/src/di/products/handlers/nest-create-product.handler.ts
  libs/infrastructure/src/di/products/handlers/nest-get-products.handler.ts
  libs/infrastructure/src/di/products/product.keys.ts
  libs/infrastructure/src/di/products/product.mapper.ts
  libs/infrastructure/src/di/products/products.module.ts
  libs/infrastructure/src/infrastructure.module.ts
  package.json
  pnpm-lock.yaml
  test/auth.e2e-spec.ts
Due: pnpm format:check, pnpm lint:check

docs(infrastructure): update swagger docs
  .editorconfig
  .prettierrc
  libs/infrastructure/src/api/http/auth/auth.controller.ts
  libs/infrastructure/src/api/http/products/commands/create-product.controller.ts
  libs/infrastructure/src/api/http/products/commands/create-product.handler.ts
  libs/infrastructure/src/api/http/products/product.response.ts
  libs/infrastructure/src/api/http/products/queries/get-products.controller.ts
Due: pnpm format:check, pnpm lint:check

test: POST /products
  libs/infrastructure/src/api/http/products/commands/create-product.contoller.spec.ts
  package.json
  pnpm-lock.yaml
  test/create-product.e2e-spec.ts
Due: pnpm format:check, pnpm lint:check

fix: correct set up and tear down in e2e tests
  package.json
  pnpm-lock.yaml
  test/auth.e2e-spec.ts
  test/create-product.e2e-spec.ts
Due: pnpm format:check, pnpm lint:check

test: GET /products
  libs/infrastructure/src/api/http/products/commands/create-product.contoller.spec.ts
  libs/infrastructure/src/api/http/products/queries/get-products.controller.spec.ts
  libs/infrastructure/src/di/products/products.module.ts
  test/get-products.e2e-spec.ts
Due: pnpm format:check, pnpm lint:check

feat(core): create Recommendations entity
  libs/core/src/index.ts
  libs/core/src/recommendations/errors/index.ts
  libs/core/src/recommendations/errors/invalid-recommendations.error.ts
  libs/core/src/recommendations/index.ts
  libs/core/src/recommendations/recommendations.entity.spec.ts
  libs/core/src/recommendations/recommendations.entity.ts
  libs/core/src/recommendations/types.ts
Due: pnpm format:check, pnpm lint:check

Path conditions:
  pnpm format:check: any of: *.{md,json,ts,js,cjs}
  pnpm lint:check: any of: *.{ts,js}
